DATABASE_URL="file:./dev.db"
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

JWT_ACCESS_SECRET=change_me_min_32_characters_random_string
JWT_REFRESH_SECRET=change_me_min_32_characters_random_string
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
COOKIE_SECRET=change_me_min_32_characters_random_string
